body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  border: 1px solid #000000;
}

.conteiner-row {
  display: flex;
  flex-direction: row;
}

.box-1 {
  width: 80px;
  height: 80px;
  margin: 10px;
  border: 5px solid #000000;
  border-radius: 12px;
  display: flex;
}

.box-point {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.box-point-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.point,
.point-1,
.point-left,
.point-right {
  width: 17px;
  height: 17px;
  margin: 5px;
  border-radius: 50%;
  background-color: #000000;
}

.point-1 {
  margin-left: 32px;
  margin-right: 32px;
  align-self: center;
}

.point-left {
  margin-right: 47px;
}

.point-right {
  margin-left: 47px;
}
